* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background: #E5E5E5;
}

.header__flex {
  display: flex;
}

.header__body__img {
  padding: 80px 0px 0px 0px;
}

.header__flex .text__bg {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  padding: 120px 0px 75px 0px;
}

.header__flex .text__mn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
  padding: 0px 0px 20px 0px;
}

.color {
  background: #202336;
  width: 32px;
  height: 2px;
  border: none;
  border-radius: 4px;
  margin: 0px 0px 48px 0px;
}

.header__select__p1 .select {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #4A4C53;
  background: #E5E5E5;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 21px 121px 21px 31px;
  margin: 0px 30px 35px 0px;
}

.header__select__p1 .select2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #4A4C53;
  background: #E5E5E5;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 21px 121px 21px 31px;
  margin-bottom: 35px;
}

.header__select__p2 .select {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #4A4C53;
  background: #E5E5E5;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 21px 140px 21px 31px;
  margin: 0px 30px 35px 0px;
}

.header__select__p2 .select2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: #4A4C53;
  background: #E5E5E5;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 21px 140px 21px 31px;
  margin-bottom: 35px;
}

.header__body__btn button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
  background: #FB8F1D;
  border: none;
  border-radius: 8px;
  padding: 15px 60px;
  cursor: pointer;
}

.header__body__btn button:hover {
  color: #FB8F1D;
  background: #E5E5E5;
  transition: 0.7s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar__img {
  padding-top: 45px;
}

.navbar__img img:hover {
  transform: scale(1.5);
  transition: 0.8s;
}

.navbar__ul ul {
  display: flex;
  flex-wrap: wrap;
}

.navbar__ul ul .link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B8BECD;
  padding: 56px 35px 0px 0px;
}

.navbar__ul ul .link:hover {
  color: #202336;
  transition: 0.7s;
}

.navbar__btn button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  background: #E5E5E5;
  padding: 8px 46px;
  margin: 43px 18px 0px 0px;
}

.navbar__btn2 button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  background: #FB8F1D;
  border: none;
  border-radius: 8px;
  padding: 8px 46px;
  margin-top: 43px;
}

.navbar__btn button:hover {
  color: #FFFFFF;
  background: #FB8F1D;
  transition: 0.7s;
}

.navbar__btn2 button:hover {
  color: #FB8F1D;
  background: #E5E5E5;
  border: 1px solid #FB8F1D;
  transition: 0.7s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body__p1 {
  background: #E5E5E5;
}

.body__p1__flex {
  display: flex;
}

.body__p1__img {
  padding: 286px 102px 292px 0px;
}

.body__p1__text {
  padding: 382px 0px 403px 0px;
}

.body__p1__text__bg {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  padding-bottom: 20px;
}

.body__p1__text__mn {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
  padding-bottom: 39px;
}

.body__p1__text__btn button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background: #FB8F1D;
  border: none;
  border-radius: 8px;
  width: 164px;
  height: 48px;
  cursor: pointer;
}

.body__p1__text__btn button:hover {
  color: #FB8F1D;
  background: #E5E5E5;
  transition: 0.7s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body__p2 {
  background: #E5E5E5;
}

.body__p2__text {
  display: flex;
  justify-content: space-between;
}

.body__p2__text__bg {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  padding: 0px 0px 26px 0px;
}

.body__p2__text__mn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  padding: 16px 0px 41px 0px;
}

.body__p2__flex__img {
  display: flex;
  justify-content: space-between;
}

.body__p2__flex__img div img:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body__p3 {
  background: #E5E5E5;
}

.body__p3__flex {
  display: flex;
  justify-content: space-between;
}

.body__p3__flex__text {
  padding: 317px 0px 0px 0px;
}

.body__p3__text__img {
  padding: 0px 0px 47px 30px;
}

.body__p3__text__bg {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  padding-bottom: 20px;
}

.body__p3__text__mn {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
  padding-bottom: 39px;
}

.body__p3__text__btn button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background: #FB8F1D;
  border: none;
  border-radius: 8px;
  width: 164px;
  height: 48px;
}

.body__p3__text__btn button:hover {
  color: #FB8F1D;
  background: #E5E5E5;
  transition: 0.7s;
}

.body__p3__flex__img {
  padding-top: 231px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body__p4 {
  background: #E5E5E5;
}

.body__p4__str {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  padding: 248px 0px 0px 0px;
}

.body__p4__flex {
  display: flex;
  justify-content: space-between;
}

.body__p4__flex__img {
  display: flex;
}

.body__p4__flex__img img {
  padding: 145px 16px 30px 0px;
}

.body__p4__flex__bg {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 40px;
}

.body__p4__flex__mn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
  padding-bottom: 6px;
}

.body__p4__flex__mn2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.85);
}

.body__p4__flex__p2 {
  padding: 60px 100px 0px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body__p5 {
  background: #E5E5E5;
}

.body__p5__str {
  display: flex;
  justify-content: space-between;
}

.body__p5__str__p1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  padding: 285px 0px 30px 0px;
}

.body__p5__str__p2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  padding: 285px 0px 0px 0px;
}

.card__p1 {
  width: 266px;
}

.card__p1__img {
  padding-bottom: 20px;
}

.card__p1__img img {
  width: 100%;
  height: 330px;
}

.card__p1__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 20px;
}

.card__p1__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7D7987;
  padding-bottom: 25px;
}

.card__p1__btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #FB8F1D;
  margin-bottom: 271px;
}

.body__p5__flex {
  display: flex;
  justify-content: space-between;
}

.card__p1:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body__p6 {
  background: #F9F9FB;
}

.body__p6__flex {
  display: flex;
  justify-content: space-between;
}

.flex__p1__img {
  padding: 78px 0px 26px 0px;
}

.flex__p1__bg {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #848484;
  padding-bottom: 55px;
}

.flex__p1__mn {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #848484;
}

.end__prime {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #000000;
  padding-bottom: 20px;
  padding-top: 75px;
}

.end__plain {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  padding-bottom: 10px;
}

.end__img {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 32px;
}/*# sourceMappingURL=style.css.map */